<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

/* Header */
header {
  padding: 45px;
  text-align: center;
  background: #014a1c;
  color: white;
}

/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #03ab41;
}

/* Navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #D8C3A5;
  padding: 20px;
  overflow: auto;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #FFF7D6;
  padding: 20px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #D8C3A5;
}

.img-text {
  display: flex;
  align-items: flex-start;
  gap: 10px; /* space between text and image */
}

.img-text img {
  flex-shrink: 0; /* stops the image from shrinking */
}

.right-img {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

.gibbon-image {
  position: relative;
  width: 200px;
  height: 250px;
  float: right;

}

.gibbon-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 250px;
  object-fit: cover;
  transition: opacity 1.5s ease;
}

.gibbon-image .img1 {
  opacity: 1;
  z-index: 2;
}

.gibbon-image:hover .img1 {
  opacity: 0;
}

.species-list {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

.species-list li {
  margin: 10px 0;
}

.species-list a {
  text-decoration: none;
  color: #014a1c;
  font-weight: bold;
}

.species-list a:hover {
  color: #03ab41;
}

.species-layout {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

/* image container */
.monkey-image {
  position: relative;
  width: 200px;
  height: 250px;
}

.monkey-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 250px;
  object-fit: cover;
  transition: opacity 1.5s ease;
}

.monkey-image .img1 {
  opacity: 1;
  z-index: 2;
}

.monkey-image:hover .img1 {
  opacity: 0;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}
</style>